* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Funnel Display', sans-serif;
}

:root {
    --bg-color: #f1f3f4;
    --second-bg-color: #ffffff;
    --text-color: #000000;
    --main-color: #578792;
    --second-color: #40f99b;
    --third-color: #112d36;
    --fourth-color: #668d57;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--bg-color);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navbar-list {
    display: flex;
    align-items: center;
    gap: 16px;
}

.navbar-item {
    list-style: none;
    padding: 10px;
    font-size: 20px;
    align-items: center;
}