* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Funnel Display', sans-serif;
}

:root {
    --bg-color: #f1f3f4;
    --second-bg-color: #ffffff;
    --text-color: #000000;
    --main-color: #578792;
    --second-color: #40f99b;
    --third-color: #112d36;
    --fourth-color: #668d57;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--bg-color);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navbar-list {
    display: flex;
    align-items: center;
    gap: 16px;
}

.navbar-item {
    list-style: none;
    padding: 10px;
    font-size: 20px;
    align-items: center;
}

.slides {
    display: none;
}

.ponto {
    text-align: center;
}

img {
    width: 100%;
    vertical-align: middle;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: var(--second-bg-color);
    font-weight: 700;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px ;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.texto {
    color: var(--bg-color);
    font-size: 16px;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 8px;
}

.numero {
    color: var(--bg-color);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.ponto-item {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.ativo, .ponto-item:hover {
    background-color: #578792;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}